crawler/tests
crawler/doc
crawler/test.py
crawler/README.md
crawler/helloworld.py
crawler/configCrawler.json
crawler/requirements/dev.txt
crawler/requirements/doc.txt
**/__pycache__

server/.settings
server/bin
server/target
server/tutorials
server/config-deployment.properties
server/exampleTreeWalkFile.json
server/tests.log
server/README.md

web-ui/node
web-ui/node_modules
web-ui/README

configs/environment.default.json
