root = true

[*]
charset = utf-8
indent_style = space
indent_size = 4
trim_trailing_whitespace = true
insert_final_newline = true

#for more options https://github.com/editorconfig/editorconfig/wiki/EditorConfig-Properties
